.buildings {
    @include flex(column, flex-start, center);

    background-color: rgb(74, 69, 65);
    width: 100%;
    height: 100%;

    &__container {
        @include flex(column, flex-start, flex-start);

        width: 100%;
        height: 100%;

        padding: 1em .5em;

        &__details {
            @include flex(column, space-between, center);

            background-color: rgb(33, 30, 28);
            width: 100%;
            height: auto;
            border-radius: 0 .5em .5em .5em;
            overflow: hidden;
            gap: 2em;
            padding-top: 2em;
        }

        &__nav {
            @include flex(row, flex-start, center);

            background-color: rgb(20, 18, 17);
            background: linear-gradient(0deg, rgb(10, 9, 9) 0%, rgb(26, 23, 22) 100%);
            width: auto;
            list-style: none;
            border-radius: .5em .5em 0 0;
            z-index: 1;

            li {

                padding: .75em 0;


                a {
                    color: #88816e;
                    font-size: 1rem;
                    font-weight: 800;
                    width: 100%;
                    padding: .8em 1.5em;
                    border-radius: .5em .5em 0 0;
                    text-decoration: none;

                    &.active {
                        color: #d9c488;
                        background: linear-gradient(0deg, rgb(33, 30, 28) 0%, rgb(57, 51, 47) 100%);
                    }
                }
            }
        }
    }
}